<footer> 
<ul>

<li>   <a href="index.php" target="_blank">Page d'accueil </a><br/> </li>
<li>	<a href="maternelle.php" target="_blank">Maternelle </a><br/> </li>
<li>	<a href="primaire.php" target="_blank">Primaire </a><br/></li>
<li>	<a href="moyen.php" target="_blank">Moyen </a><br/></li>
<li>	<a href="secondaire.php" target="_blank">Secondaire </a><br/></li>
<li>	<a href="formPro.php" target="_blank">Formations professionnelles </a><br/></li>
<li>	<a href="formUni.php" target="_blank">Formations universitaires </a><br/></li>
<li>    <a href="a_propos.php" target="_blank">A propos</a><br/> </li>
</ul>	
	
</footer>