<!DOCTYPE html>
<head>
<link href="style.css" rel="stylesheet"/>
<meta charset="utf-8">
</head>

<body>

<header>
<h1> <center> Site web agrégateur et comparateur d’écoles de formations </center></h1>
</header>
 <p><a href="loginView.php" target="_blank">Se connecter</a></div></p>
<img src="images/index.png" title="image accueil" alt="image d'accueil" width="80%" height="10%">

	<div class="diapo1"></div> <!-- la diapo -->
	<div class="menu">
	MENU <br/>
	<a href="index.php" target="_self">Page d'accueil</a><br/>
	<a href="maternelle.php" target="_blank">Maternelle</a><br/>
	<a href="primaire.php" target="_blank">Primaire</a><br/>
	<a href="moyen.php" target="_blank">Moyen</a><br/>
	<a href="secondaire.php" target="_blank">Secondaire</a><br/>
	<a href="formPro.php" target="_blank">Formations professionnelles</a><br/>
	<a href="formUni.php" target="_blank">Formations universitaires</a><br/>
	<a href="a_propos.php" target="_blank">A propos</a><br/>
	
	
	</div>
	<div class="contenu">
	
	</div>
	
	<div class="zpub">
	zone publicitaire
	</div>
	
</body>


</html>